.nav-item {text-align: center; min-width: 150px;}
.container-fluid {max-width: 90%;}
.container-md {max-width: 75%;}
hr.large {max-width: 100%; margin: 1rem auto;
  border-width: 0.25rem; border-color: inherit; border-radius: 0.1875rem;}
