---
layout: base
---

{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" style="width:65%">
{% for profile in site.data.resume %}
  <div class="intro-header no-img">
    {% if forloop.first == false %}<hr class="large">{% endif %}
    <div class="container-md">
      <div class="row">
        <div class="col-xl-10 col-lg-10 offset-lg-1">
          <div class="page-heading">
            <h1 style="font-size: 3rem; padding-top: 2rem;">{{ profile.name }}{% if profile.title %}<span style="font-weight:normal;">, {{ profile.title }}</span>{% endif %}&nbsp;
            {% if profile.email %}<a href="mailto:{{ profile.email }}"><i class="fa fa-envelope"></i></a>&nbsp;{% endif %}
            {% if profile.linkedin %}<a href="https://www.linkedin.com/in/{{ profile.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}</h1>
            <hr class="small">
            <span class="page-subheading">{{ profile.job }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if profile.summary %}<p style="font-size: 1.4rem; text-align: justify;">{{ profile.summary | replace: "\n", "<br>" }}</p>{% endif %}
  {% assign sections = "experience education certifications skills awards" | split: ' ' %}
  {% for section in sections %}
    {% if profile[section].size > 0 %}
    <div class="row-fluid">
      <h3>{{ section | capitalize }}</h3>
      {% if section == "skills" %}
        <div class="row p-4">
          {% for item in profile[section] %}<span href="#" class="badge bg-primary" style="font-size: 1.3rem; margin-bottom: 12px;">{{ item }}</span>&nbsp;&nbsp;&nbsp;
          {% endfor %}
        </div>
      {% else %}
        {% for item in profile[section] %}
        <div class="row w-75 p-3">
          <div class="col-md-offset-1 col-1">
            <img src="{{ item.logo }}" alt="{{ item.org }}">
          </div>
          <div class="col-10 col-md-offset-4">
            <b>{{ item.title }}</b><br>
            {{ item.org }}<br>
            {% if section == "certifications" %}Issued{% endif%}
            {{ item.start }}&nbsp;-&nbsp;
            {%- if item.end -%}{% if section == "certifications" %}Expires{% endif%}
            {{ item.end }}{% else %}{% if section == "certifications" %}No expiration date{% else %}Present{% endif%}{%- endif -%}
            {%- if item.id -%}<br><span style="color: #808080; font-size: 80%;">Credential ID {{ item.id }}</span>{% endif %}
            {%- if item.url -%}<br><a href="{{ item.url }}" style="color: #808080; font-size: 80%;"><p style="margin-top: 10px;"><b>See credential</b></p></a>{% endif %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
